<style>
    /* NAVBAR */
.nav-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  padding: 10px 48px;
  z-index: 100;
  background: #497ec3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 
    0 8px 30px rgba(0, 0, 0, 0.90),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.nav-inner {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  position: relative;
}

.nav-logo img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
  height: 100px;              /* you control logo size here */
  width: auto;
  pointer-events: auto;
}
/* CENTER LINKS */
.nav-glass {
    display: flex;
    gap: 48px;
    padding: 0;               /* remove pill padding */
    background: none;         /* no glass */
    border: none;
    box-shadow: none;
    margin-left: auto;   /* 👈 key line */
    margin-right: 48px; 
}

.nav-glass a {
  color: var(--text-light);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: opacity 0.3s ease;
}

.nav-glass a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--accent);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-glass a:hover::after {
  width: 100%;
}

/* CTA */
.nav-cta {
  padding: 12px 26px;
  border-radius: 999px;
  background: #e19934;
  color: #2B2B2B;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-cta:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px #587A60;
}
</style>

<nav class="nav-wrapper">
    <div class="nav-inner">

        <div class="nav-logo">
            <img src="../assets/images/nav-logo2.png" alt="Resolve Now Logo">
        </div>

        <div class="nav-glass">
            <a href="../">Home</a>
            <a href="#services">Services</a>
            <a href="../about/">About</a>
            <a href="#blogs">Blogs</a>
            <a href="#contact">Contact</a>
        </div>

        <a href="../forms/" class="nav-cta">Consult Us</a>

    </div>
</nav>