<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resolve Now offers loan settlement in India including personal loan settlement, credit card settlement and recovery harassment protection.">
    <meta name="keywords" content="loan settlement india, credit card settlement india, personal loan settlement company">
    <link rel="stylesheet" href="/../assets/css/style.css">
    <link rel="icon" href="/../assets/images/icon.png" type="image/x-icon">
    <title>{{ title }}</title>
</head>

<body>

{% include "floating-ui.html" %}
{% include "header.html" %}

<main>
  {{ content }}
</main>

{% include "footer.html" %}
{% include "scripts.html" %}

</body>
</html>