<section id="services" class="services">
        <div class="services-container">

            <div class="services-header">
                <span class="section-tag">Services</span>
                <h2>How We Can Help You</h2>
                <p>Professional solutions tailored to your needs</p>
            </div>

            <div class="services-grid">

                <!-- Card 1 -->
                <div class="service-card">
                    <div class="service-image">
                        <img src="./assets/img-2.jpg" alt="Loan Settlement">
                    </div>

                    <div class="service-content">
                        <h3>Loan Settlement Assistance</h3>
                        <p>
                            We negotiate with agents and respective institutions to reduce
                            any outstanding and reach fair settlement terms.
                        </p>
                        <a href="services/service1.html" class="service-btn">Read More</a>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="service-card">
                    <div class="service-image">
                        <img src="./assets/img-3.webp" alt="Credit Card Settlement">
                    </div>

                    <div class="service-content">
                        <h3>Credit Card Debt Settlement Assistance</h3>
                        <p>
                            We provide assistance against any harrasment regarding credit card outstanding.
                        </p>
                        <a href="services/service2.html" class="service-btn">Read More</a>
                    </div>
                </div>

                <div class="service-card">
                    <div class="service-image">
                        <img src="./assets/img-4.avif" alt="Credit Card Settlement">
                    </div>

                    <div class="service-content">
                        <h3>Anti-Harrasment Services</h3>
                        <p>
                            We provide assitance against any kind of harrasment faced, with a easy resolution within 90 days.
                        </p>
                        <a href="services/services3.html" class="service-btn">Read More</a>
                    </div>
                </div>

                <div class="service-card">
                    <div class="service-image">
                        <img src="./assets/img-5.png" alt="Credit Card Settlement">
                    </div>

                    <div class="service-content">
                        <h3>Legal Services</h3>
                        <p>
                            We have a team of legal advisor who can consult our clients on further legal matters.
                        </p>
                        <a href="services/services4.html" class="service-btn">Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </section>